<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>upload image</title>
</head>
<body>

<!-- Pure html form -->
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   <label for="javascript">Image</label>
   <input type="file" name="image" id="image"><br><br>
  <button type="submit">Upload</button>
</form>

{% if img_obj %}
  <img src="/media/{{ img_obj }}" alt="connect" style="max-height:300px">
{% endif %}

</body>
</html>